.card {
    border:1px solid #cecece;
    border-radius:5px;
    color: blueviolet;
    height: 200px;
    width: 300px;
    display: flex; /**/
    justify-content: center; /*水平居中*/
    align-items: Center; /*垂直居中*/
}