.logo {
    color:#fff;
    font-size: large;
    font-weight: bold;
}

.site-layout-background {
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
}