.container {
    color: red;
}

.main {
    width: 1920px;
    height: 1080px;
    background-color: royalblue;
}

.background {
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
}

#normal_login {
    max-width: 100%;
}

#normal_login .login-form-forgot {
    float: right;
}

#normal_login .ant-col-rtl .login-form-forgot {
    float: left;
}

#normal_login .login-form-button {
    width: 100%;
}

.login-card,
.register-card {
    width: 480px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ant-dropdown-link{
    color: #ffffff;
}